<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/restaurant/new" method="POST">
  Name: <input type='text' name='name'>
  Place ID: <input type='text' name='place_id'>
  Tag: <select name="tag1">
          <option>Pizza</option>
          <option>Pasta</option>
          <option>Burger</option>
          <option>Street Food</option>
          <option>Chicken</option>
          <option>Chinese</option>
          <option>Sushi</option>
          <option>Mexican</option>
          <option>Japanese</option>
          <option>Sandwich</option>
          <option>Fast Food</option>
          <option>Indian</option>
        </select>

        <select name="tag2">
                <option></option>
                <option>Pizza</option>
                <option>Pasta</option>
                <option>Burger</option>
                <option>Street Food</option>
                <option>Chicken</option>
                <option>Chinese</option>
                <option>Sushi</option>
                <option>Mexican</option>
                <option>Japanese</option>
                <option>Sandwich</option>
                <option>Fast Food</option>
                <option>Indian</option>
              </select>
  <input type="submit" value="Create">
</form>
