@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.body {
  background-color: #F0EFF0;
}

#title {
  margin: 0 auto;
  color: #AF1C1C;
  font-size: 75px;
  font-family: "Poiret One";
  text-align: center;
}

#my-form {
  width: 600px;
  position: absolute;
  margin: 0px 0 0 -250px;
  left: 50%;
}