@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.body {
  background-color: #F0EFF0;
}

#title {
  text-align: center;
  color: #AF1C1C;
  font-size: 75px;
  font-family: "Poiret One";
}