@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.body {
  background-color: #F0EFF0;
}

#title {
  text-align: center;
  color: #AF1C1C;
  font-size: 75px;
  font-family: "Poiret One";
}

.button:link, .button:visited {
  display: block;
  font-weight: bold;
  color: #F0EFF0;
  background-color: #AF1C1C;
  width: 60px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-family: "Poiret One";
  border: solid;
  border-radius: 75px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button:hover, .button:active {
  background-color: #8C1616;
}

.log_button:link, .log_button:visited {
  display: block;
  font-weight: bold;
  color: #F0EFF0;
  background-color: #AF1C1C;
  width: 60px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-family: "Poiret One";
  border: solid;
  border-radius: 75px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.log_button:hover, .log_button:active {
  background-color: #8C1616;
}

#boxed {

  border: 5px solid #2F2F28;
  height: auto;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F2F28;
  border-radius: 10px;
  color: #31A2AC;
  text-align: center;
}

#location {
  border: 1px solid #BFC0BD;
  width: 900px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #BFC0BD;
  color: #31A2AC;
  font-family: "Poiret One";
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

#writing {
  float: right;
  padding: 70px 70px 20px 20px;
}

#placeName {
  font-size: 25px;
  font-style: bold;
}

#photo {
  float: left;
  height: 240px;
  width: 300px;
}

/*colour pallette is #756867 (wood veneer), #D5D6D2 (sand dollar), #353C3F (charcoal), #FF8D3F (orange)*/
