<form action="/dropdown" method="post">
  <select name="food_tags">
    <option>Pizza</option>
    <option>Pasta</option>
    <option>Burger</option>
    <option>Street Food</option>
    <option>Chicken</option>
    <option>Chinese</option>
    <option>Sushi</option>
    <option>Mexican</option>
    <option>Japanese</option>
    <option>Sandwich</option>
    <option>Fast Food</option>
    <option>Indian</option>
    <option>Thai</option>
  </select>
  <input type="submit" value="Find!">
</form>
