  <body class= "body">
    <h1 id="title"> Munch </h1>
  <%if current_user %>
  <form method='post' action='/log_in'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign out'>
  </form>
  <%else%>
    <a href="http://localhost:9292/user/new" class="button">Sign Up</a>
    <a href="http://localhost:9292/log_in" class="log_button">Log In</a>
  <%end%>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="boxed" style="overflow-y:scroll">
    <div id="location">
      <div id='placeName'>The Culpeper</div>
      <br>
      <div id='photo'><img src='https://lh3.googleusercontent.com/-jOST9OJoiBk/VOxe4477pWI/AAAAAAAAAAY/hEyRQjAzmh4/w1000-h1000-k/' width = '300px' height = '240px'></div>
      <div id="writing">
        <span class="street-address">40 Commercial Street</span>, 
        <span class="locality">London</span>
        <span class="postal-code">E1 6LP</span>,
        <span class="country-name">United Kingdom</span>
        <div>020 7247 5371</div>
        <div> Is it open right now?  Yes! </div>
      </div>
    </div>
  </div>
  </body>
</html>