
  <head>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"> </script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
</head>
<body>
  
  <div id=map> </div>
</body>

<script src="googleApi.js">
</script>
